# This is a basic workflow to help you get started with Actions

name: Build 256MB img

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo $GITHUB_WORKSPACE
          curl -s https://api.github.com/repos/ventoy/Ventoy/releases/latest | grep browser_download_url.*linux.tar.gz | cut -d : -f 2,3 | tr -d \" | wget -qi -
          tar -xf ventoy-*
          rm *.gz
          cd ventoy-*
          dd if=/dev/zero of=/tmp/256MBwLiveCD.img bs=512 count=494080
          losetup
          sudo losetup -fP /tmp/256MBwLiveCD.img
          sudo yes | sudo ./Ventoy2Disk.sh -I /dev/loop3
          lsblk
          sudo mkdosfs -F 32 /dev/loop3p1 -n ventoy
          sudo mkdir /mnt/ventoy
          sudo mount /dev/loop3p1 /mnt/ventoy
          sudo mkdir /mnt/loop/ventoy
          sudo cp ventoy.json /mnt/loop/ventoy
          umount /mnt/loop/ventoy
          sudo losetup -d /dev/loop3
